
.background {
    background-image: url('image/background.jpg');
    height: 500px;
    width: 100%;
    background-size: cover; 
    background-position: center; 
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    height: 100%;
    overflow-x: hidden;
}

.background {
    background-image: url('image/background.png');
    height: 120vh;
    width: 100vw; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 10px;
    width: 65%;
    margin-top: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}


.navbar-links {
    display: flex;
    justify-content: space-between;
    width: 40%;
    font-family: 'Poppins', sans-serif;
    font-weight:200;

}


.navbar-links a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 25px;
}


.navbar-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 10%;
    padding: 10px;
   
}


.navbar-logo img {
    height: 60px;
}


.navbar-links a:hover {
    background-color: #f0f0f0;
}


.centered-content {
color: white;
text-align: center;
padding: 20px;
width: 80%; 
margin-top: 70px; 
display: flex; 
align-items: center; 
justify-content: center; 
}


.text-content {
flex: 1; 
max-width: 900px; 
}


.centered-content h1 {
font-family: 'Baloo', cursive; 
font-size: 90px;
font-weight: 400;
line-height: 100px;
margin: 0; 
}


.centered-content p {
font-family: 'Poppins', sans-serif;
font-size: 30px;
font-weight: 400;
line-height: 36px;
margin: 10px 0 0 0; 
}




.image-container {
    display: flex;
    justify-content: space-between;
    width: 80%; 
    margin-top: 50px; 
    position: relative; 
    height: 300px; 
}


.image-container img {
    width: auto; 
}

.top-right {
    position: absolute;
    top: 150px;
    right: 0;
 
}

.top-left {
    position: absolute;
    top: 120px;
    left: 0px;
 
}

.bottom-left {
position: absolute;
left:-180px;
top:-70px;
}


.middle-image {
    margin: 0 20px; 
    position: absolute;
    margin-top:100px;
    height:650px;
    width:600px;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}










.content2 {
position: relative;
padding: 40px;
background-color: #fff;
overflow: hidden;
margin-left: -20px;
display: flex;
flex-direction: column;
z-index:-1;
}

.data {
position: relative;
text-align: center;
}

.bowl-container {
display: flex;
flex-direction: row;
align-items: center; 
margin-left: 250px; 
position: relative; 
}



.text-content2 {
max-width: 500px;
margin-left: 20px; 
padding: 40px 0;
}

.text-content2 h1 {
font-family: 'Poppins', sans-serif;
color: #B1099E;
font-size: 36px;
font-weight: 700;
text-align: left;
position: relative;
padding-bottom: 10px;
margin-bottom: 20px;
}

.text-content2 h1::before {
content: '';
position: absolute;
left: -2px;
bottom: -2px;
width: 10px;
height: 10px;
background-color: #ff3a93;
transform: rotate(45deg);
}

.text-content2 h1::after {
content: '';
position: absolute;
bottom: 0; /* Align with the bottom of the h1 */
left: 8px; /* Start the line after the rhombus */
width: 20%; /* Set the border length to 50% of the h1 width */
height: 2px; /* Border thickness */
background-color: #ff3a93; /* Same color as the border */


}



.text-content2 p {
font-family: 'Poppins', sans-serif;
color: #6d6d6d;
font-size: 18px;
line-height: 1.6;
text-align:left;
}










.read-more-btn {
background-color: #ff3a93;
color: white;
border: none;
border-radius: 20px;
padding: 10px 20px;
cursor: pointer;
font-family: 'Poppins', sans-serif;
font-weight: 500;
margin-top: 20px;
box-shadow: 0 4px 10px rgba(255, 58, 147, 0.3);
text-align:left;
}

.top-left2, .top-right2, .bottom-left2, .bottom-right2 {
position: absolute;
}

.top-left2 {
top: -30px;
left: -20px;
}

.top-right2 {
top: -30px;
right: -50px;
}

.bottom-left2 {
top: 120px; /* Adjust to avoid overlap with top images */
left: -20px;
}

.bottom-right2 {
top: 120px; /* Adjust to match the bottom left */
right: 50px;
}



.content3 {
background-image: url('image/background1.png');
height: 120vh;
width: 100vw; 
background-size: 100% 100%;
background-repeat: no-repeat;
background-position: top;
display: flex;
flex-direction: column; /* Stack items vertically */
justify-content: flex-start; /* Align items from the top */
align-items: center; /* Center horizontally */
position: relative;
padding-top: 60px;
text-align: center;
}

.content3 h2 {
font-family: 'Poppins', sans-serif;
font-size: 46px;
color: #B1099E;
margin-bottom: 20px;
margin-top:210px;
}

.content3 p {
font-family: 'Poppins', sans-serif;
font-size: 18px;
color: #6d6d6d;
max-width: 800px;
margin-bottom: 40px;
}

.product-container {
display: flex;
justify-content: center;
gap: 40px;
}

.product-item {
text-align: center;
}

.product-item img {


margin-bottom: 10px;
}

.product-item h3 {
font-family: 'Poppins', sans-serif;
color: #B1099E;
font-size: 18px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.2em;
text-align: left;

}

.product-item p {
font-family: 'Poppins', sans-serif;
color: #6d6d6d;
font-size: 16px;
font-weight: 300;
line-height: 16px;
text-align: left;
margin-top:10px;


}









.text-content3 {
max-width: 600px;
margin-left: 20px; /* Adds some space between the image and text */
padding: 40px 0;
}

.text-content3 h1 {
font-family: 'Poppins', sans-serif;
color: #B1099E;
font-size: 36px;
font-weight: 700;
text-align: left;
position: relative;
padding-bottom: 10px;
margin-bottom: 20px;
}

.text-content3 h1::before {
content: '';
position: absolute;
left: -2px;
bottom: -2px;
width: 10px;
height: 10px;
background-color: #ff3a93;
transform: rotate(45deg);
}

.text-content3 h1::after {
content: '';
position: absolute;
bottom: 0; /* Align with the bottom of the h1 */
left: 8px; /* Start the line after the rhombus */
width: 20%; /* Set the border length to 50% of the h1 width */
height: 2px; /* Border thickness */
background-color: #ff3a93; /* Same color as the border */


}



.text-content3 p {
font-family: 'Poppins', sans-serif;
color: #6d6d6d;
font-size: 16px;
line-height: 1.6;
text-align:left;
}





/* Testimonials heading background style */
.testimonial-heading h1 {
font-size: 160px;
font-family: 'Poppins', sans-serif;
color: rgba(255, 58, 147, 0.1);
text-align: center;
position: relative;
z-index: 1;
margin-top:180px;
}

.testimonial-container {
display: flex;
justify-content: center;
align-items: center;
position: relative;
width: 75%; /* Adjusted width for the entire container */
margin: 20px auto;
overflow: visible; /* Allow overflow so that inactive cards are fully visible */
}

.testimonial-card {
transition: transform 0.5s ease, opacity 0.5s ease;
opacity: 0.5;
transform: scale(0.8);
flex: 0 0 25%;
max-width: 25%; 
margin: 0 -90px; /* Negative margin to reduce the gap between cards */
text-align: center;
background: #fff;
border-radius: 22px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
padding: 20px;
height:346px;
}

.testimonial-card.active {
opacity: 1;
transform: scale(1);
flex: 0 0 50%; /* Active card takes up more space */
max-width: 50%; 
z-index: 1; /* Ensure the active card is on top */
}

.testimonial-card.inactive {
opacity: 0.5;
transform: scale(0.8);
flex: 0 0 25%; 
max-width: 25%; 
z-index: 0;
}

.arrow-left, .arrow-right {
background-color: #fff; /* Set background color to white */
border: 2px solid #a40b8f; /* Border to match the design */
font-size: 1.5rem;
color: #a40b8f; /* Color for the arrow */
cursor: pointer;
position: absolute;
top: 50%;
transform: translateY(-50%);
border-radius: 50px; /* Rounded oval shape */
width: 80px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
transition: background-color 0.3s, color 0.3s;
}

.arrow-left {
left: 5px; /* Adjust this to position the arrow to the left */
}

.arrow-right {
right: 5px; /* Adjust this to position the arrow to the right */
}

.arrow-left:hover, .arrow-right:hover {
background-color: #a40b8f; /* Change background on hover */

}

.arrow-left svg path, .arrow-right svg path {
transition: fill 0.3s ease; /* Smooth transition for the fill change */
}

.arrow-left:hover svg path, .arrow-right:hover svg path {
fill: #FFFFFF; /* Change fill to white on hover */
}

.testimonial-text {
display: flex;
flex-direction: column;
align-items: center;
}

.testimonial-image {
border-radius: 50%;
width: 60px;
height: 60px;
object-fit: cover;
margin-bottom: 20px;
margin-top:30px;
}

.testimonial-text p {
font-size: 18px;
font-family: 'Poppins', sans-serif;
color: #333;
margin-bottom: 20px;
margin-top:10px;
padding:20px;
font-style: italic;
font-weight: 500;
line-height: 28px;

}

.testimonial-text h4 {
font-family: 'Poppins', sans-serif;
color: #a40b8f;
font-weight: bold;
}
.qoutes-image {
margin-top:-15px;
}


/* Location section */
.location {
text-align: center;
padding: 50px 0;
background-color: #fff;

}

.location h2 {

font-family: Baloo;
font-size: 46px;
font-weight: 400;
line-height: 46px;
color: #B1099E;
margin-bottom: 50px;

}

.map-container {
position: relative;
border-radius: 15px;
overflow: hidden;
max-width: 700px;
width:90%;
margin: 0 auto;
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.map-container iframe {
border-radius: 15px;
}

.locate-button {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.locate-button button {
background-color: #ff3a93;
border: none;
color: white;
font-size: 18px;
font-family: 'Poppins', sans-serif;
padding: 15px 30px;
border-radius: 50px;
cursor: pointer;
box-shadow: 0px 10px 20px rgba(255, 58, 147, 0.3);
}

.locate-button button:hover {
background-color: #a40b8f;
}


.footer {
margin-top:70px;
background-image: url('image/background2.png');
background-size: cover;
background-position: center;
height: 69vh;
width: 100%;
position: relative;
color: white;
display: flex;
justify-content: center;
align-items: center;
padding: 20px 0;
overflow: hidden;
z-index: 1;
}


.footer-container {
display: flex;
justify-content: space-between;
align-items: flex-start;
width: 90%;
max-width: 1200px;
margin: 0 auto;
z-index: 1;
}


.footer-logo img {
width: 187px;
height: 135px;
margin-top: 150px;
}


.footer-links {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 150px;
}

.footer-links ul {
display: flex;
flex-wrap: wrap;
justify-content: center;
list-style: none;
padding: 0;
text-align: left;
}

.footer-links ul li {
margin-bottom: 8px;
width: 50%; 
}

.footer-links ul li a {
color: white;
text-decoration: none;
font-size: 14px;
font-family: 'Inter', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 29.36px;
}

.footer-links ul li a:hover {
text-decoration: underline;
}


.footer-social {
display: flex;
flex-direction: column; 
align-items: center; 
margin-top: 150px;
margin-left: 30px;
}

.footer-social p {
color: #B1099E;
font-weight: bold;
margin-bottom: 20px; 
font-family: Baloo;
font-size: 26px;
font-weight: 400;
line-height: 36px;
text-align: center; 
}

.footer-social-icons {
display: flex;
flex-direction: row; 
justify-content: center;
margin-top:-20px;
}

.footer-social a {
margin-left: 30px; 
}

.footer-social img {
width: 40px;
height: 40px;
opacity: 0.9;
transition: opacity 0.3s ease;
}

.footer-social img:hover {
opacity: 1;
}



.footer-copyright {
font-size: 12px;
color: rgba(255, 255, 255, 0.7);
text-align: center;
width: 100%; 
position: absolute;
bottom: 10px; 
left: 0;
padding: 10px 0;
z-index: 2;
}


.footer img {  z-index:2; }

.location {
position: relative; 
}

.top-left-ft1 {
top: 420px;
left: -10px;
position: absolute;
}

.top-left-ft2 {
top: -30px;
left: -20px;
position: absolute;
}

.bottom-right {
top:800px;
right: 10px;
position: absolute;  
}
.top-right1 {
top:-70px;
right: 20px;
position: absolute;  
}

.top-right4 {
top:900px;
right: 500px;
position: absolute;  
}

@media (min-width: 1024px) and (max-width: 1440px) {
.navbar {
    width: 75%;
    padding: 15px 30px;
}

.centered-content h1 {
    font-size: 70px;
    line-height: 80px;
}

.centered-content p {
    font-size: 24px;
}

.text-content2 h1 {
    font-size: 30px;
}

.text-content2 p {
    font-size: 16px;
}

.content3 h2 {
    font-size: 36px;
}

.content3 p {
    font-size: 16px;
}

.product-item h3 {
    font-size: 16px;
}

.product-item p {
    font-size: 14px;
}

.text-content3 h1 {
    font-size: 32px;
}

.text-content3 p {
    font-size: 16px;
}

.map-container {

width:60%;

}

.testimonial-card {

flex: 0 0 30%;
max-width: 30%; 
margin-top:-80px;

}

.testimonial-card.active {

flex: 0 0 50%; /* Active card takes up more space */
max-width: 50%; 

}

.testimonial-card.inactive {

flex: 0 0 30%; 
max-width: 30%; 

}

.bottom-right {
top:700px;
right: 10px;
position: absolute;  
}

.content2{
top:90px;
right:180px;
width:100%;
}

.top-right2 {

right:-250px;
}
}